[[servers]]
host = "ldap.diesel.net"
port = 636
use_ssl = true
start_tls = false
ssl_skip_verify = false

bind_dn = "cn=admin,dc=diesel,dc=net"
bind_password = "{{ ldap_admin_password }}"

search_filter = "(uid=%s)"
search_base_dns = ["dc=diesel,dc=net"]

group_search_base_dns = ["ou=groups,dc=diesel,dc=net"]

[servers.attributes]
member_of = "memberOf"
email =  "mail"
name = "givenName"
surname = "sn"
name = "cn"
username = "uid"

[[servers.group_mappings]]
group_dn = "cn=admin,ou=groups,dc=diesel,dc=net"
org_role = "Admin"
grafana_admin = true
org_id = 1

[[servers.group_mappings]]
group_dn = "cn=developer,ou=groups,dc=diesel,dc=net"
org_role = "Editor"
grafana_admin = false
org_id = 1

[[servers.group_mappings]]
group_dn = "*"
org_role = "Viewer"
org_id = 1
